<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="pers.lrq.mapper.GetShowListMapper">
    <select id="getSelectShowList" parameterType="integer" resultType="pers.lrq.domain.SelectShowList">
        select tid,title,address,price,cover,intro,openTime  from tourist  limit #{page},10;
    </select>

    <select id="getSelectShowById" parameterType="integer" resultType="pers.lrq.domain.SelectShowList">
        select tid,title,address,price,cover,intro,openTime from tourist where tid = #{tid};
    </select>

    <select id="getDeliciousShowList" parameterType="integer" resultType="pers.lrq.domain.SelectShowList">
        select fid,title,address,price,cover,intro  from food  limit #{page},10;
    </select>

    <select id="getDeliciousShowById" parameterType="integer" resultType="pers.lrq.domain.SelectShowList">
        select fid,title,address,price,cover,intro  from food  where fid=#{fid};
    </select>

</mapper>